<p>Hi <%= @resource.email %>!</p>

<p>For at ændre dit kodeord kan du bruge nedenstående link</p>

<p><%= link_to 'Ændr mit kodeord', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Hvis det ikke er dig, som har trykke 'glemt koderod', kan du trygt ignorere denne mail.</p>
<p>Dit kodeord vil ikke blive ændret, før du selv ændre det.</p>
